# Ignore sample files/folders
samples/
*.zip

# Build inputs
manifest.toml

# Build outputs
coordinator_app
worker_app
*.o

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.log

# Virtual environment
venv/
